* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h1,
h2 {
  font-weight: 500;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin: 0 0 10px;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

th {
  text-align: left;
}

td,
th {
  padding: 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
